body{
    background-color: rgb(201, 207, 212);
    margin: 0px;
}
.top{
    display: flex;
    justify-content: space-around;
    margin-right: 250px;
}

.childtop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    height: 60px;
    
}
textarea{
    font-size: 15px;
    font-weight: 500;
}
.shouye{
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
}
.find{
    margin-top: 20px;
    margin-right: 40px;
}
.respond{
    margin-top: 20px;
    margin-right: 40px;
}
.research{
    margin-top: 15px;
    margin-right: 40px;
    height: 30px;
    width: 250px;
}
.submit{
    margin-top: 15px;
    margin-right: 100px;
    width: 50px;
    height: 30px;
    background-color: rgb(0, 162, 255);
    color: white;
    border: 0px;
    font-size: 15px;
    border-radius: 5px;
}
.xin{
    margin-top: 15px;
}
.user{
    margin-top: 20px;
    margin-left: 20px;
}
.containt{
    display: flex;
    flex-direction: column;
    margin-left: 350px;
}
.submit{
    border-radius: 5px;
    background-color: #77e6;
    color: white;
    font-size: 15px;
}